.aside-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    background-color: white;
    width: 300px;
    height: 100vh;
}

.dash-list {
    display: flex;
    flex-direction: column;
    margin-top: 30px;

}

.dash-listy {
    list-style-type: none;
    margin: 15px;
    color: rgb(165, 153, 237);
    font-weight: 500;
   
}

.dash-list-item {
    list-style-type: none;
    margin: 15px;
    color: rgb(165, 153, 237);
    font-weight: 500;
    text-decoration: none;

}

.dash-list-item-0 {
    list-style-type: none;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 0px;
    color: rgb(144, 6, 144);
    font-weight: 500;
    background-color: rgb(242, 235, 236);
    padding: 10px 20px;
    padding-left: 16px;
    padding-right: 80px;  
    border-radius: 10px;
    text-decoration: none;

}


.dash-list-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.icon { 
    margin-right: 20px;
    color: rgb(165, 153, 237);
    font-weight: 500;

}

.link-el {
    text-decoration: none;
}

.menu-btn {
    display: none;
    color: white;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    font-size: 30px;
    margin-top: 300px;
}

.aside-div {
    width: 270px;
    background-color: #f4f4f4;
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    overflow-y: auto;
    transition: transform 0.3s ease-in-out;
    z-index: 1000; 
}



.close-btn {
    display: none;
    font-size: 30px;
    color: black;
    padding: 10px;
    cursor: pointer;
    text-align: right;
}




.aside-div {
    transform: translateX(-270px);
}


.aside-div.open {
    transform: translateX(0);
}

.aside-div {
    transform: translateX(0);
}

.menu-btn, .close-btn {
    display: none;
}

@media screen and (max-width: 769px) {
   
    .menu-btn {
        display: block;
        color: white;
        padding: 20px;
        text-align: center;
        cursor: pointer;
        font-size: 30px;
        margin-top: 300px;
        
       
    }

    /* .menu-icon {
        background-color: black;
        width: 100px;
        color: black;
        padding: 20px;
        text-align: center;
        cursor: pointer;
        font-size: 30px;

    } */

    .aside-div.open .close-btn {
        display: block;
    }


    .aside-div.open {
        position: fixed;
        z-index: 1000;
        transform: translateX(0);
        width: 270px;
    }
}